@import 'mixins_and_variables_and_functions';

.escalation-policy-modal {
  width: 640px;
}

.rule-control {
  width: 240px;
}

.rule-close-icon {
  right: 1rem;
}

$stroke-size: 1px;

.right-arrow {
  height: $stroke-size;

  &-head {
    top: -2 * $stroke-size;
    left: calc(100% - #{5 * $stroke-size});
    border-width: 0 $stroke-size $stroke-size 0;
    border-color: var(--gray-900, $gray-900);
    transform: rotate(-45deg);
  }
}

.escalation-rule-row {
  @media (max-width: $breakpoint-lg) {
    @include gl-flex-wrap-wrap;
  }
}

.rule-condition {
  @media (min-width: $breakpoint-lg) {
    flex-basis: 25%;
    @include gl-flex-shrink-0;
  }

  @media (max-width: $breakpoint-lg) {
    @include gl-w-full;
  }
}
